<div class="single_post_content">
  <h2><span>Advertisement</span></h2>
  <div class="single_sidebar">
    <ul class="spost_nav">
      <li>
        <div class="media wow fadeInDown">
          <a href="single_page.html" class="media-left">
            <img alt="" src="images/add_img.jpg">
          </a>
          <div class="media-body">
            <a href="single_page.html" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
