<div class="single_post_content">
  <h2><span>Photo Gallery</span></h2>
  <ul class="photograph_nav  wow fadeInDown">
    <li>
      <div class="photo_grid">
        <figure class="effect-layla">
          <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img2.jpg" title="Photography Ttile 1">
            <img src="images/photograph_img2.jpg" alt=""/>
          </a>
        </figure>
      </div>
    </li>
    <li>
      <div class="photo_grid">
        <figure class="effect-layla">
          <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img3.jpg" title="Photography Ttile 2">
            <img src="images/photograph_img3.jpg" alt=""/>
          </a>
        </figure>
      </div>
    </li>
    <li>
      <div class="photo_grid">
        <figure class="effect-layla">
          <a class="fancybox-buttons" data-fancybox-group="button" href="images/photograph_img4.jpg" title="Photography Ttile 3">
            <img src="images/photograph_img4.jpg" alt=""/>
          </a>
        </figure>
      </div>
    </li>
  </ul>
</div>
