<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>magExpress</title>

<!-- Bootstrap -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<!-- for fontawesome -->
<link href="css/font-awesome.min.css" rel="stylesheet">
<!-- for content animate -->
<link href="css/animate.css" rel="stylesheet">
<!-- for news ticker -->
<link href="css/li-scroller.css" rel="stylesheet">
<!-- for slick slider -->
<link href="css/slick.css" rel="stylesheet">
<!-- for fancybox -->
<link href="css/jquery.fancybox.css" rel="stylesheet">
<!-- for custom css -->
<link href="css/theme.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">