<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-8">
    <div class="left_content">
      <div class="single_post_content">
        <h2><span>Business</span></h2>
        <div class="single_post_content_left">
          <%- include('./business-catgnav') %>
        </div>
        <div class="single_post_content_right">
          <ul class="spost_nav">
            <li>
              <div class="media wow fadeInDown">
                <a href="/single-page" class="media-left">
                  <img alt="" src="/images/post_img1.jpg">
                </a>
                <div class="media-body">
                  <a href="/single-page" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                </div>
              </div>
            </li>
            <li>
              <div class="media wow fadeInDown">
                <a href="/single-page" class="media-left">
                  <img alt="" src="/images/post_img2.jpg">
                </a>
                <div class="media-body">
                  <a href="/single-page" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 col-sm-4">
    <aside class="right_content">
      <div class="single_sidebar">
        <h2><span>Popular Post</span></h2>
        <ul class="spost_nav">
          <li>
            <div class="media wow fadeInDown">
              <a href="/single-page" class="media-left">
                <img alt="" src="/images/post_img1.jpg">
              </a>
              <div class="media-body">
                <a href="/single-page" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
              </div>
            </div>
          </li>
          <li>
            <div class="media wow fadeInDown">
              <a href="/single-page" class="media-left">
                <img alt="" src="/images/post_img2.jpg">
              </a>
              <div class="media-body">
                <a href="/single-page" class="catg_title"> Aliquam malesuada diam eget turpis varius</a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </aside>
  </div>
</div>
